*{
    box-sizing: border-box;
    margin: 0;
  
}
body{
    background-image: url(../css/imagem/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
       
}
nav{    
    overflow: hidden;
    position: fixed;
    width: 100%;
    max-width: 100%;
    background-color: rgba(128, 128, 128, 0.822);
    margin-top: 0;
    color: whitesmoke;
}
nav .logo{
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 2rem;
}
nav a{
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 2rem;
    color: black;
}
nav a:hover{
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.753);
    
}

.banner{
    width: 100%;
    max-width: 100%;
    height: 70vh;
    background-image: url(..//css/imagem/imagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    
}
h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #333;
    font-size: 4rem;
 
}
.container{
    width: 100%;
    margin: 0px auto;
}
h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

main section.servicos h3 {
    color: black;
    text-align: center;
}
main section.servicos .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    cursor: pointer;
    margin-top: 0;
    padding: 0;
    float: right;
    display: grid;
   
}

main section.servicos .container .imagem {
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    transition: 1s;
    max-width: 100%;
    width: 100%;
   
}
main section.servicos .container #imagem1 {
    background-image: url(../css/imagem/1.jpg);
}
main section.servicos .container #imagem2 {
    background-image: url(../css/imagem/2.jpg);
}
main section.servicos .container #imagem3 {
    background-image: url(../css/imagem/3.jpg);
}
section{
    width: 100%;
    float: left;

}
section.quem-somos{
    height: 170px;
    color: black;
    text-align: center;
    margin-top: 10px;
}
section.quem-somos h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}
section.quem-somos p {
    text-align: center;
    line-height: 1.5rem;
    margin-top: 15px;
}
form{
	width: 400px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;  
    display: flex;
    flex-direction: column; 
}

input{
    width: 100%;
    border-radius: 0.6rem;
    height: 2rem;
    background: rgba(30,206,131,0.1);
    box-sizing: border-box;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;  
}
label {
    text-align: center;
    height: 1.5rem;
    font-size: 20px;    
}

textarea{
    resize: none;
    width: 100%;
    background: rgba(30,206,131,0.1);
    border-radius: 0.6rem;
    margin-bottom: 0.8rem;
    border: 2px solid black;
}
footer {
	width: 100%;
	text-align: center;
    
}

  
footer h5{
    font-size: 20px;
    
}
footer .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .social .h4{
    display: flex;
    align-items:center;
    font-size: 5px;

}

footer .social .icon{
    color: green;
    font: var(--font-p);
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

footer p{
    padding: 1rem;
    padding-bottom: 1rem;
    text-align:center;
    color: black; 
    margin-left: 0.5rem;
}
footer .container{
    display: flex;
    background-color: aquamarine;
    border-radius:1rem;
    width: 50rem;
    margin-left: 40rem;
    
    
}

footer .maps{
    overflow: hidden ;
    padding-bottom: 40%;
    border-radius: 1rem;
    height: 0;
    margin: 10px 10px 10px;
 
       
}
@media (max-width:768px){
    
    }



